<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :epiclan_id %><br />
  <%= f.text_field :epiclan_id %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <% players = Player.all %>
  <div>
    <label for='user_player1_id'>Player 1</label>
    <%= select_tag 'user[player1_id]', options_from_collection_for_select(players, :id, :name) %>
  </div>
  <div>
    <label for='user_player2'>Player 2</label>
    <%= select_tag 'user[player2_id]', options_from_collection_for_select(players, :id, :name) %>
  </div>
  <div>
    <label for='user_player3'>Player 3</label>
    <%= select_tag 'user[player3_id]', options_from_collection_for_select(players, :id, :name) %>
  </div>
  <div>
    <label for='user_player4'>Player 4</label>
    <%= select_tag 'user[player4_id]', options_from_collection_for_select(players, :id, :name) %>
  </div>
  <div>
    <label for='user_player5'>Player 5</label>
    <%= select_tag 'user[player5_id]', options_from_collection_for_select(players, :id, :name) %>
  </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>
