<h2>epic.FANTASY</h2>

<div>
  <h3>Current scores</h3>
  <table>
    <tr>
      <td>Name</td>
      <td>Score</td>
    </tr>
  <% User.all.each do |user| %>
    <tr>
      <td><%= user.epiclan_id %></td>
      <td><%= user.score %></td>
    </tr>
  <% end %>
  </table>

<% if user_signed_in? %>
  <%= link_to "Edit your profile", edit_user_registration_path %><br />
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %><br />
<% else %>
  <%= link_to "Sign in", new_session_path(:user) %><br />
  <%= link_to "Sign up", new_registration_path(:user) %><br />
  <%= link_to "Forgot your password?", new_password_path(:user) %><br />
<% end %>
