<!DOCTYPE html>
<html>
<head>
  <title>EpicFantasy</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</head>
<body>
  <h1>epic.FANTASY</h1>

  <% if notice %>
    <div class="panel">
      <div class="panel-body">
        <p class="alert alert-success"><%= notice %></p>
      </div>
    </div>
  <% end %>
  <% if alert %>
    <div class="panel">
      <div class="panel-body">
        <p class="alert alert-danger"><%= alert %></p>
      </div>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <div class="panel">
      <div class="panel-body">
        <p>Hi, <%= current_user.epiclan_id %></p>
      </div>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
